<h1>Editing shop</h1>

<%= error_messages_for :shop %>

<% form_for(@shop, :html => { :multipart => true }) do |f| %>
  <p>
    <b>Shopmanager</b><br />
    <%= f.collection_select :user_id, User.find(:all), :id, :name, {:prompt => "bitte wählen"} %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>
<p>
	<b>Icon</b><br />
 <%= f.file_field :shopicon %>
</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @shop %> |
<%= link_to 'Back', shops_path %>
