<h2><%=h @shop.name %></h1>

<td><%= image_tag @shop.shopicon.url(:medium) %></td>

<p>
  <b>Shopmanager:</b>
  <%=h @shop.user.name %>
</p>



<%= link_to 'Bearbeiten', edit_shop_path(@shop) %> |
<%= link_to 'Zur&uuml;ck', shops_path %>
