<%= javascript_tag "function kH(e) {
						var pK = e ? e.which : window.event.keyCode;
						return pK != 13;
					}
					document.onkeypress = kH;
					if (document.layers) document.captureEvents(Event.KEYPRESS);" 
%>

<script src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
/*
*  The SearchControl manages searchers and draws a UI for them.  However,
*  searchers can be used by themselves without the SearchControl.  This is
*  called using a "Raw Searcher".  When doing this, you must handle and draw
*  the search results manually.
*/

google.load('search', '1');

var imageSearch;

function addPaginationLinks() {
  // The cursor object has all things to do with pagination
  var cursor = imageSearch.cursor;
  var curPage = cursor.currentPageIndex; // check what page the app is on
  var pagesDiv = document.createElement('div');
  for (var i = 0; i < cursor.pages.length; i++) {
    var page = cursor.pages[i];
    if (curPage == i) { // if we are on the curPage, then don't make a link
      var label = document.createTextNode(' ' + page.label + ' ');
      pagesDiv.appendChild(label);
    } else {
      // If we aren't on the current page, then we want a link to this page.
      // So we create a link that calls the gotoPage() method on the searcher.
      var link = document.createElement('a');
      link.href = 'javascript:imageSearch.gotoPage('+i+');';
      link.innerHTML = page.label;
      link.style.marginRight = '2px';
      pagesDiv.appendChild(link);
    }
  }

  var contentDiv = document.getElementById('content');
  contentDiv.appendChild(pagesDiv);
}

function searchComplete() {
  // Check that we got results
  if (imageSearch.results && imageSearch.results.length > 0) {
    // Grab our content div, clear it.
    var contentDiv = document.getElementById('content');
    contentDiv.innerHTML = '';

    // Loop through our results, printing them to the page.
    var results = imageSearch.results;
    for (var i = 0; i < results.length; i++) {
      // For each result write it's title and image to the screen
      var result = results[i];
      var imgContainer = document.createElement('span');

      var title = document.createElement('div');
      // We use titleNoFormatting so that no HTML tags are left in the title
      title.innerHTML = result.url;

      var newImg = document.createElement('img');
	
	  st = document.createTextNode('hallo ich bin ein link');

	  var newURL = document.createElement('a');
	  newURL.appendChild(st);

      // There is also a result.url property which has the escaped version
      newImg.src = result.tbUrl;

     // imgContainer.appendChild(title);
      imgContainer.appendChild(newImg);
	  imgContainer.setAttribute('onClick', '$(\'url\').value = "'+result.unescapedUrl+'";');
      // Put our title + image in the content
      contentDiv.appendChild(imgContainer);
    }

    // Now add the paging links so the user can see more results.
    addPaginationLinks(imageSearch);
  }
}

function search(query) {
  // Our ImageSearch instance.
  imageSearch = new google.search.ImageSearch();

  // Restrict to extra large images only
  imageSearch.setRestriction(google.search.ImageSearch.RESTRICT_IMAGESIZE,
                             google.search.ImageSearch.IMAGESIZE_MEDIUM);

  // Here we set a callback so that anytime a search is executed, it will call
  // the searchComplete function and pass it our ImageSearch searcher.
  // When a search completes, our ImageSearch object is automatically
  // populated with the results.
  imageSearch.setSearchCompleteCallback(this, searchComplete, null);

  // Find me a beautiful car.
  imageSearch.execute(query);
}
google.setOnLoadCallback(OnLoad);
</script>

<h1>Neuer Artikel</h1>

<%= error_messages_for :item %>

<% form_for(@item, :html => { :multipart => true }) do |f| %>
  <p>
    <b>Name / Shop / Bild </b><br />
    <%= f.text_field :name %> <%= f.collection_select :shop_id, Shop.find(:all), :id, :name %> 

	<br />
	Upload: <%= f.file_field :photo %><br>
	  oder URL angeben: <%= f.text_field :photo_url, :size => 75, :id => "url" %><br>
      
	<br />
  </p>

<div id="content"></div>

 <p>
    <b>Barcode</b><br />
    <%= f.text_field :barcode %>
  </p>

<%=
	observe_field 'item_barcode',  
		:frequency => 1,
		:function => "search($('item_barcode').value)"
 %>


  <p>
    <b>Preis</b><br />
    <%= f.text_field :price, :value => "0.00" %>
  </p>

  <p>
    <b>kJoules</b><br />
    <%= f.text_field :joule, :value => "0"%>
  </p>

  <p>
    <b>Lagerbestand</b><br />
    <%= f.text_field :stock, :value => "0" %>
  </p>



    <p>
    <b>Beschreibung</b><br />
    <%= f.text_area :description %>
  </p>

   <p>
    <b>Einkaufspreis</b><br />
    <%= f.text_field :cost %>
  </p>

  <p>
    <b>Rabatt ab</b><br />
    <%= f.text_field :discount_thres, :value => "0"%>
  </p>

  <p>
    <b>Rabattprozent</b><br />
    <%= f.text_field :discount %>
  </p>

  <p>
    <b>Tagesverkaufsgrenze</b><br />
    <%= f.text_field :sell_limit %>
  </p>

  <p>
    <%= f.submit "Hinzufügen" %>
  </p>
<% end %>

<%= link_to 'Zurück', items_path %>
